.heading {text-align: center;
	color: black;
	font-family: "Comic Sans MS", "Comic Sans";
	font-size: 500%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}



li {
  float: left;
}



li a {

  display: block;

  color: white;

  text-align: center;

  padding: 14px 16px;

  text-decoration: none;

}



li a:hover:not(.active) {

  background-color: #111;

}

.active {
  background-color: #04AA6D;

}

.voteButton {

  display: block;
  width: 100%;
  border: none;
  background-color: red;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
	margin-top: 20%;

}



.voteButton:hover {
  background-color: #ddd;
  color: black;
}


.banner {
	width: 100%;
	margin-top 15%;


